.team-container {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
    gap: 20px; 
} 

.integrante {
    background-color: #f0f0f0;
    border-radius: 15px;
    width: 200px; 
    margin: 15px;
    padding: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.integrante a img {
    width: 180px; 
    height: 180px;
    object-fit: cover; 
    border-radius: 50%; 
}

.integrante h3 {
    margin: 10px 0 5px 0;
    font-size: 18px;
    color: #0d7e2e;
}

.integrante p {
    color: #0d7e2e;
    font-size: 14px;
}

.networks {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.netbox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #0d7e2e; 
    color: #0d7e2e; 
    margin-top: 10px; /* Adicionado para espaçamento entre a imagem e os ícones */
}
  
.icon {
    width: 16px; 
    height: 16px; 
    display: inline-block; 
    margin: 0 5px; 
}
